@tailwind base;
@tailwind components;
@tailwind utilities;

.processBtn{
    /*text-white border-white border-2 rounded-md px-2*/  
    color: theme('colors.white');
    border-color: theme('colors.white');
    border-radius: theme('borderRadius.md');
    padding-left: 2px;
    padding-right: 2px;
    border-width: 2px;
}
.processBtn:hover{
    color: theme('colors.yellow.500');
    border-color: theme('colors.yellow.500');
}

.deleteBtn{
    color: theme('colors.red.600');
    border-color: theme('colors.red.600');
    border-radius: theme('borderRadius.md');
    border-width: 2px;
}

.deleteBtn:hover{
    color: theme('colors.red.500');
    border-color: theme('colors.red.500');
    border-radius: theme('borderRadius.md');
}

/*隱藏滾軸*/

.hiddenScrollBar{
    scrollbar-width: none;
}

select:disabled,input:disabled{
    background-color:gray;
    color: white;
}

button:disabled{
    opacity: 0.5;
}

.processBtn:disabled:hover{
    color: white;
    border-color: inherit;
}